<section class="about">
    <h1>About this Site</h1>
    <h2>Demo site leveraging the following technologies:</h2>
    <ul>
        <li>Angular 18.2 Standalone Components, "application" build</li>
        <li>Angular Material Navigation, Responsive Layout</li>
        <li>ArcGIS Maps SDK for JavaScript 4.31, including Widgets and Calcite Components</li>
        <li>Sass CSS Preprocessor, CSS Grid Layout</li>
    </ul>
    <h2>Attribution</h2>
    <ul>
        <li>Powered by Esri / ArcGIS, redistribution rights can be found <a href="https://www.esri.com/en-us/legal/redistribution-rights">here</a></li>
        <li>All eBird API data courtesy of <a href="https://ebird.org">eBird.org</a> and <a href="https://www.birds.cornell.edu/">The Cornell Lab of Ornithology</a></li>
        <li>Tide predictions and current conditions courtesy of the <a href="https://api.tidesandcurrents.noaa.gov/api/prod/"> NOAA CO-OPS API</a></li>
        <li>Weather forecasts courtesy of <a href="https://www.weather.gov/documentation/services-web-api"> National Weather Service API</a></li>
        <li>This site is not affiliated with Esri / ArcGIS, eBird.org, noaa.gov or weather.gov</li>
    </ul>
</section>
