<div class="map-container" [ngClass]="getInfoPanelClass()">
    <arcgis-map class="arcgis-defaults" itemId="85015c1ad9a344439f695f8c0442619f"
        (arcgisViewReadyChange)="arcgisViewReadyChange($event)">
        <arcgis-zoom position="top-left"></arcgis-zoom>
        <arcgis-expand position="top-right">
            <arcgis-search></arcgis-search>
        </arcgis-expand>
        <arcgis-expand position="bottom-right">
            <arcgis-layer-list />
        </arcgis-expand>
        <arcgis-expand position="bottom-left">
            <arcgis-legend></arcgis-legend>
        </arcgis-expand>
        <arcgis-expand position="bottom-right">
            <arcgis-basemap-gallery></arcgis-basemap-gallery>
        </arcgis-expand>
    </arcgis-map>
    @if (showInfoPanel) {
    <div class="info-panel">
        <mat-tab-group preserveContent>
            <mat-tab class="tab-content" label="Places">
                <ng-template matTabContent>
                    <div [ngClass]="getFeatureContainerClass()" id="featureTableContainer">
                        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

                            <!-- ID Column (Hidden) -->
                            <ng-container matColumnDef="id">
                              <td mat-cell *matCellDef="let element"> {{element.id}} </td>
                            </ng-container>
                          
                            <!-- Name Column -->
                            <ng-container matColumnDef="name">
                              <td class="table-cell" mat-cell *matCellDef="let element"> {{element.name}} </td>
                            </ng-container>

                            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                          </table>
                    </div>
                </ng-template>      
            </mat-tab>
            <mat-tab class="tab-content" label="Layers">  </mat-tab>
        </mat-tab-group>    
    </div>
    }
</div>