.arcgis-defaults {
    font-family: "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
        "Segoe UI Symbol";
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.map-container {
    height: 100%;
    width: 100%;
    display: grid;
}
.map-container-vertical {
    grid-template-rows: 1fr 40vh;
}
.map-container-horizontal {
    grid-template-columns: 1fr 34%;
}
.map-container-map-only {
    grid-template-columns: 1fr;
}
.info-panel {
    height: 100%;
    overflow: auto;
}

