<arcgis-map class="arcgis-defaults" itemId="021009222de74168861a23ac33230a58" (arcgisViewReadyChange)="arcgisViewReadyChange($event)">
    <arcgis-expand position="top-right">
    <arcgis-search></arcgis-search>
    </arcgis-expand>
    <arcgis-expand position="bottom-right">
    <arcgis-layer-list />
    </arcgis-expand>
    <arcgis-expand position="bottom-left">  
    <arcgis-legend></arcgis-legend>
    </arcgis-expand>
    <arcgis-expand position="bottom-right">
    <arcgis-basemap-gallery></arcgis-basemap-gallery>
    </arcgis-expand>
</arcgis-map>
