.arcgis-defaults {
    font-family: "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
        "Segoe UI Symbol";
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.map-container {
    height: 100%;
    width: 100%;
    display: grid;
}
.map-container-vertical {
    grid-template-rows: 60% 40%;
}
.map-container-horizontal {
    grid-template-columns: 1fr 30%;
}
.map-container-map-only {
    grid-template-columns: 1fr;
}
.info-panel {
    height: 100%;
    overflow: auto;
}
.tab-content {
    height: 600px;
}
.feature-table-container-horizontal {
    height: calc(100vh - 140px);
}
.feature-table-container-vertical {
    height: calc(40vh - 80px);
}
.mat-mdc-row {
    height: 24px;
    font-size: 14px;
    line-height: 18px;
}