<div class="map-container" [ngClass]="getInfoPanelClass()">
    <arcgis-map class="arcgis-defaults" itemId="85015c1ad9a344439f695f8c0442619f"
        (arcgisViewReadyChange)="arcgisViewReadyChange($event)">
        <arcgis-zoom position="top-left"></arcgis-zoom>
        <arcgis-expand position="top-right">
            <arcgis-search></arcgis-search>
        </arcgis-expand>
        <arcgis-expand position="bottom-right">
            <arcgis-layer-list />
        </arcgis-expand>
        <arcgis-expand position="bottom-left">
            <arcgis-legend></arcgis-legend>
        </arcgis-expand>
        <arcgis-expand position="bottom-right">
            <arcgis-basemap-gallery></arcgis-basemap-gallery>
        </arcgis-expand>
    </arcgis-map>
    @if (showInfoPanel) {
    <div class="info-panel">
        <mat-tab-group preserveContent>
            <mat-tab class="tab-content" label="Places">
                <ng-template matTabContent>
                    <app-feature-list [featureLayerView$]="protectedLayerViewSubject"></app-feature-list>
                </ng-template>
            </mat-tab>
            <mat-tab class="tab-content" label="Layers">  </mat-tab>
        </mat-tab-group>    
    </div>
    }
</div>