$gh-blue-palette: (
    50 : #e6edf4,
    100 : #c1d3e3,
    200 : #97b5d0,
    300 : #6d97bd,
    400 : #4e81af,
    500 : #2f6ba1,
    600 : #2a6399,
    700 : #23588f,
    800 : #1d4e85,
    900 : #123c74,
    A100 : #a9caff,
    A200 : #76abff,
    A400 : #438cff,
    A700 : #2a7cff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #ffffff,
    )
);