// styles for ArcGIS popups that are used in HTML built dyntamically at runtime
.tide-cell {
    border: solid 1px black;
    border-collapse: collapse;
    padding: 5px;
}
.tide-header {
    background-color: #76abff;
    font-weight: bold;
    text-align: left;
}
.number-cell {
    text-align: right;
}
.tide-table {
    border-collapse: collapse;
    margin: 8px;
}